@import "tailwindcss";

/* Load your font */
@font-face {
  font-family: 'foundation';
  src: url('./FoundationLogo.ttf') format('truetype');
}

/* Optional global styles */
body {
  font-family: foundation;
}

/* Tailwind v4 theme customization */
@theme {
  --font-foundation: 'foundation', sans-serif;

  --color-primary: #99d5c9;
  --color-secondary: #6c969d;
  --color-tertiary: #645E9D;

  --color-fontPrimary: #392B58;
  --color-fontSecondary: #2D0320;
}
